C:/Users/gvist/Projects/Unity/unity_try_oneline/unity_try_oneline_everyday/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
